In [21]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base # abstract base, declarative method
from sqlalchemy import create_engine,Column,Integer,String,Numeric,Text,Float,func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine,func # for connecting to db
import pymysql
pymysql.install_as_MySQLdb()

In [32]:
engine = create_engine("sqlite:///resources/hawaii.sqlite")

Base = automap_base() #vs declarative_base()
Base.prepare(engine,reflect=True)

In [35]:
Stations = Base.classes.hstations
Measurements = Base.classes.hmeasurements

#measurement = Base.classes.Measurement

session = Session(engine)

In [36]:
demo_df = pd.read_sql(session.query(Measurements).statement,engine)
demo_df.head()

   idx      station        date  prcp  tobs
0    0  USC00519397  2010-01-01  0.08    65
1    1  USC00519397  2010-01-02  0.00    63
2    2  USC00519397  2010-01-03  0.00    74
3    3  USC00519397  2010-01-04  0.00    76
4    4  USC00519397  2010-01-07  0.06    70

In [37]:
# Read in cleaned data
df_hs = pd.read_csv("resources/hawaii_stations_clean.csv")
df_m = pd.read_csv("resources/hawaii_measurements_clean.csv")

In [4]:
#df_hs.to_sql('Station',engine,if_exists='append')
#df_m.to_sql('Measurement',engine,if_exists='append')

In [7]:
class Station(Base):
    __tablename__ = 'station'
    station = Column(String,primary_key=True)
    name = Column(String(255))
    lat_ = Column(Float)
    lon_ = Column(Float)
    elev_ = Column(Float)
    
class Measurement(Base):
    __tablename__ = 'measurement'
    station = Column(String,primary_key=True)
    date = Column(Date,primary_key=True)
    prcp = Column(Float)
    tobs = Column(Integer)