In [1]:
# John M. Warlop 4/3/18
# data_engineering.ipynb

In [72]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine # for connecting to db
from sqlalchemy.ext.declarative import declarative_base # for abstract classes
from sqlalchemy import Column, Integer, String, Float # enables column types
import pymysql
import pickle
pymysql.install_as_MySQLdb()

In [73]:
# Read CSV's
df_hs = pd.read_csv("resources/hawaii_stations.csv",index_col=0 )
df_m  = pd.read_csv("resources/hawaii_measurements.csv")

In [74]:
#df_m.isnull().values.any()
# Add index column for measurements
df_m = df_m[np.isfinite(df_m['prcp'])]
df_m.shape
idx = [i for i in range(0,df_m.shape[0])]
df_m['idx']=idx
df_m = df_m.set_index('idx')
#df_m = df_m[np.isfinite(df_m['prcp'])]

df_m.head()
#df_m.isnull().values.any()

         station        date  prcp  tobs
idx
0    USC00519397  2010-01-01  0.08    65
1    USC00519397  2010-01-02  0.00    63
2    USC00519397  2010-01-03  0.00    74
3    USC00519397  2010-01-04  0.00    76
4    USC00519397  2010-01-07  0.06    70

In [75]:
# Keep only those records where percepitation is finite
df_m.to_csv('resources/hawaii_measurements_clean.csv')
df_hs.to_csv('resources/hawaii_stations_clean.csv')

In [76]:
df_m.to_pickle('resources/df_m.pkl')
df_hs.to_pickle('resources/df_hs.pkl')

In [77]:
engine = create_engine('sqlite:///resources/hawaii.sqlite', echo=False)
try:
    df_hs.to_sql('hstations', con=engine)
    df_m.to_sql('hmeasurements',con=engine)    
except:
    print("Already exist")
engine.execute("SELECT * FROM hstations").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [62]:
df_m.head()

         station        date  prcp  tobs
idx
0    USC00519397  2010-01-01  0.08    65
1    USC00519397  2010-01-02  0.00    63
2    USC00519397  2010-01-03  0.00    74
3    USC00519397  2010-01-04  0.00    76
4    USC00519397  2010-01-07  0.06    70

In [66]:
df_hs.head(10)

,name,latitude,longitude,elevation
station,,,,
USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [64]:
df_hs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, USC00519397 to USC00516128
Data columns (total 4 columns):
name         9 non-null object
latitude     9 non-null float64
longitude    9 non-null float64
elevation    9 non-null float64
dtypes: float64(3), object(1)
memory usage: 360.0+ bytes

In [65]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18103 entries, 0 to 18102
Data columns (total 4 columns):
station    18103 non-null object
date       18103 non-null object
prcp       18103 non-null float64
tobs       18103 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 707.1+ KB